@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    box-sizing: border-box;
}

body {
    margin: 20px 40px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

}

.container{
    display: flex;
    width: 90vw;
    margin-top: 30px;
    font-family: 'Nunito';
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.5s ease-in;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4).panel:nth-of-type(5){
        display: none;
    }
}

.content {
    font-size: 10px;
    color: red;
    margin-top: 90px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Nunito';
}

a {
  color: white;
}

a:hover {
  color: #01b4bc;
}

a:visited {
  color: rgb(69, 128, 128);
}

a:visited:hover {
  color: #01b4bc;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fa5457;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f6d51f;
    display: block;
    transition: 0.3s;
    font-family: 'Nunito';
  }
  

  .sidebar a:hover {
    color: #01b4bc;
    font-family: 'Nunito';
  }

  .sidebar .closebtn {
    position: absolute;
    right: 25px;
    top: 30px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #fa5457;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    color: #01b4bc;
  }
  
  #main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.center-justified {
  text-align: justify;
  margin: 40px auto;
  width: 50em;
  font-family: 'Nunito';
  font-size: 18px;
  color: #fa5457;
}



.wrapper {
  height: 65vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  color: #fa5457;
}

.typing-demo {
  width: 18ch;
  animation: typing 1.5s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}




.bg-area {
  position: fixed;
  left: -1%;
  right: -100%;
  top: 0;
  bottom: 0;
  animation: animate 7s ease-in-out;
  background: linear-gradient(90deg, #f6d51f 50%, #fa8925 -100%);
  opacity: .5;
  z-index: -1;
}


@keyframes animate {
  0% {
    transform: translateX(-50%);
  }
    50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(50%);
  }
}

h1 {
  text-align: center;
  font-family: 'Nunito';
}






